<h1>Passenger Information</h1>

<%= "Purchasing tickets for #{pluralize(@num_passengers, "passenger")}" %><br>
<%= "Flight ##{@flight.id} from #{@flight.from_airport.airport_code} to #{@flight.to_airport.airport_code} on #{@flight.datetime}" %>
<hr>
<%= simple_form_for @booking do |f| %>
        <%= f.input :flight_id, input_html: {value: @flight.id}, as: :hidden %>

    <%= "Please enter the following information:" %><br>

    <%= f.simple_fields_for :passengers do |passenger_form| %>
        <%= passenger_form.input :name %>
        <%= passenger_form.input :email %>
        <br>
    <% end %>

    <%= f.button :submit %>
<% end %>
