<%= form_for(@event) do |f| %>
    <div class="field">
        <%= f.text_field :name, placeholder: "Name of Event" %><br>
        <%= f.date_field :date %><br>
        <%= f.text_field :location, placeholder: "Location of Event" %>
    </div>
    <%= f.submit "Create Event", class: "btn btn-primary" %>
<% end %>
